@model IEnumerable<RestauranteOnline.Models.Bairro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar bairro", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.IDBairro }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IDBairro })
        </td>
    </tr>
}

</table>
