@model IEnumerable<RestauranteOnline.Models.Genero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastar Genero Alimentício", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.IDGenero }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IDGenero })
        </td>
    </tr>
}

</table>
