@model RestauranteOnline.Models.Restaurante

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Desejar mesmo excluir?</h3>
<br />
<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisqueEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisqueEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
